.carousel {
  position: relative;
  width: 100%;
  max-height: 90vh;
  margin: auto;
  overflow: hidden;
}

.imageContainer {
  position: relative;
}

.imageContainer img {
  width: 100%;
  display: block;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 28px;
  background: transparent;
  padding: 10px;
  border-radius: 5px;
}

.controls {
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
  display: flex;
  gap: 10px;
}


.corouselLeftArrowBtn {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background-color 0.3s;
  border: 1px solid white;
  padding: 1.2rem;
}

.corouselLeftArrowBtn:hover {
  background-color: #0F80B6 !important;
} 

@media (max-width: 992px) {
  .title  {
    font-size: x-large;
  }
}
@media (max-width: 768px) {
  .title  {
    font-size: large;
  }
  .title b {
    font-size: 25px !important;
  }
}
@media (max-width: 576px) {
  .title  {
    font-size: small;
    left: 35%;
  }
  .title b {
    font-size: 15px !important;
  }
}