.review-container {
  border: 0.5px solid #aeaeae;
  .review-heading {
    margin-bottom: 21px;
    .review-rate {
      background: #388e3c;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.01em;
      min-width: 55px;
      color: #fff;
      border-radius: 5px;
      img {
        margin-top: -3px;
      }
    }
    .user-name {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }
  .review-content {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    margin-bottom: 12px;
    color: #828282;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  .btn-read {
    background: none;
    border: none;
    color: #4a82f1;
    outline: none;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.01em;
    font-variant: all-small-caps;
  }
  .product-imgs {
    img,
    video {
      width: 96px;
      height: 96px;
      object-fit: cover;
      cursor: pointer;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 10%);
    }
  }
  .review-footer {
    .review-date {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
      color: #828282;
      &::first-letter {
        text-transform: uppercase;
      }
    }
    .upvote,
    .downvote {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.01em;
      color: #828282;
    }
  }
}
