.share-modal {
  position: fixed;
  z-index: 99;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  animation: showIn forwards 0.1s ease-in-out;
  .social-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
  }
  h1 {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 25px;
  }
  p {
    font-family: "Montserrat";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  .twitter-btn,
  .facebook-btn {
    background: #00aced;
    color: #fff;
    border-radius: 20px;
    min-width: 130px;
    cursor: pointer;
    transition: 0.2s all ease;
    justify-content: space-around;
    box-shadow: 0 4px 9px -4px #332d2db3;
    &:hover {
      box-shadow: 0 8px 9px -4px #332d2d33, 0 4px 18px 0 #332d2d1a;
    }
  }
  .facebook-btn {
    background: #3b5998;
  }
  .Whatsapp-btn {
    background: #29d52c;
    color: #ffffff;
    border-radius: 20px;
    min-width: 130px;
    cursor: pointer;
    transition: 0.2s all ease;
    justify-content: space-around;
    box-shadow: 0 4px 9px -4px #332d2db3;
    &:hover {
      box-shadow: 0 8px 9px -4px #332d2d33, 0 4px 18px 0 #332d2d1a;
    }
  }
}
