@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sideTags {
    background-color: #498DAE1A;
    width: 20%;
    padding: 0rem;
    text-align: center;
}

.sideTags p {
    color: #0F80B6;
    font-size: small;
    margin: 0;
}

.sdContent {
    font-family: 'Manrope', sans-serif;
    font-weight: 700 !important;
    text-transform: capitalize;
    color: #0F80B6;
}

.newsMain {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 5rem 10rem;
    margin-bottom: 1rem;
}

.backButton {
    width: 1.5rem;
    height: 1.5rem;
}

.backButton button {
    border: none;
    border-radius: 0.1rem;
}

.newsDiv {
    margin-top: 1rem;
}

.mycard {
    border: none !important;
}

.myCardLinking {
    width: 25% !important;
    border: none !important;
}

.cardTitle {
    font-size: small;
}

.cardText {
    font-size: x-small;
}

.newsCards {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: wrap;
}

.pagination li a {
    border: none !important;
    font-size: x-small;
}

.previous {
    background-color: #EAE5FF;
    color: black !important;
}

.previous:hover {
    background-color: #EAE5FF;
    color: black !important;
}

.nextele {
    background-color: #0F80B6;
}

.nextele:hover {
    color: white !important;
    background-color: #0F80B6;
}

/* Media Queries */

@media screen and (min-width: 1901px) {
    
    .cardTitle {
        font-size: 1.4rem;
    }

    .cardText {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1200px) {
    .newsMain {
        padding: 5rem 8rem;
    }
    .myCardLinking {
        width: 33.33% !important;
    }
}

@media only screen and (max-width: 992px) {
    .newsMain {
        padding: 5rem 5rem;
    }
    .sideTags {
        width: 30%;
    }
    .myCardLinking {
        width: 50% !important;
    }
}

@media only screen and (max-width: 768px) {
    .newsMain {
        padding: 5rem 2rem;
    }
    .sideTags {
        display: none;
    }
    .myCardLinking {
        width: 80% !important;
        margin-bottom: 1rem;
    }
    .newsCards {
        justify-content: center;
    }
}
