/* Forms common style Start  */
.form-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #413d3d;
  margin-bottom: 10px;
}
.custom_form_control,
.custom_form_select {
  border: 1px solid #f5f2ed;
  background-color: #f5f2ed;
  border-radius: 8px;
  padding: 15px 15px;
  color: #413d3d;
}
.input-group-text {
  border: 1px solid #f5f2ed;
  background: #f5f2ed;
  border-radius: 8px;
  padding: 15px 15px;
  color: #413d3d;
}
.input-group-text.password {
  cursor: pointer;
}
.input-group > .custom_form_control {
  border-right: none;
}
.custom_form_control:disabled,
.custom_form_select:disabled {
  background-color: #f5f2ed;
  color: rgba(65, 61, 61, 0.4);
}
.custom_form_control:focus,
.custom_form_select:focus,
.form-check-input:focus {
  border: 1px solid #f5f2ed;
  box-shadow: none;
  border: 1px solid #f5f2ed;
  background-color: #f5f2ed;
  border-radius: 8px;
  color: #413d3d;
}
.save_btn {
  background: #000000 !important;
  border-radius: 8px !important;
  color: #fff !important;
  padding: 5px 7px !important;
  text-decoration: none !important;
}
.save_btn:focus,
.save_btn:hover,
.save_btn:active {
  background: #000000;
  border-radius: 8px;
  color: #fff;
  padding: 5px 7px;
  text-decoration: none;
}
.cancel_btn {
  background: #ffffff !important;
  border: 1px solid #131313 !important;
  border-radius: 8px !important;
  color: #131313 !important;
  padding: 5px 7px !important;
}
.cancel_btn:focus,
.cancel_btn:hover,
.cancel_btn:active {
  background: #ffffff;
  border: 1px solid #131313;
  border-radius: 8px;
  color: #131313;
  padding: 5px 7px;
}
/* Forms common style End  */

/* Mobile devices Starts*/
@media (min-width: 320px) and (max-width: 600px) {
  .save_btn {
    background: #000000;
    border-radius: 8px;
    color: #fff;
    padding: 5px 4px;
    font-size: 14px;
  }
  .cancel_btn {
    background: #ffffff;
    border: 1px solid #131313;
    border-radius: 8px;
    color: #131313;
    padding: 5px 2px;
    font-size: 14px;
  }
}
