@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: Poppins;
}

.firstDiv {
  z-index: 2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: url(../../../public/images/home/image.svg);
  background-size: cover;
}

.fdOne {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18rem;
}

.fdContent {
  text-align: justify;
  color: white;
}

.fdTwo {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.leftArrowBtn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 28, 28);
  border: 1px solid white;
  padding: 1.2rem;
}

.secondDiv,.fourthDiv,.fifthDiv,.sixthDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 5rem 15rem;
}

.sideTags {
  background-color: #498DAE1A;
  width: 22%;
  padding: 0.2rem 0.5rem;
  text-align: center;
}

.sideTags p {
  color: #0F80B6;
  margin: 0;
}

.sdTwo {
  margin-top: 20px;
  font-weight: 500;
  text-align: justify;
}

.thirdDiv {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tdOne img {
  width: 100%;
  height: 100%;
}

.tdOne,.tdTwo {
  width: 50%;
  height: 100%;
}

.tdTwo {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 1rem 5rem;
}

.tdTwo p {
  color: white;
  line-height: 1.8rem;
}

.tdTwo .sideTags p {
  background-color: #FFFFFF1A;
  color: white;
  padding: 2px 0px;
  margin-bottom: 10px;
}

.listParent {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listChildOne li,.listChildTwo li {
  color: white;
  line-height: 1.6rem;
  font-size: small;
}

.listChildOne li:hover,.listChildTwo li:hover,.listChildOne li:active,.listChildTwo li:active {
  cursor: pointer !important;
}

.tdTwo button {
  background-color: #F7B200;
  color: black;
  border: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  font-size: small;
  font-weight: bold;
}

.fourthDiv,.fifthDiv {
  padding: 3rem 15rem;
}

.fourOne,.fourOne .sideTags,.sdOne .sideTags {
  margin-bottom: 10px;
}

.four2one,.fourTwo,.fiveTwo,.fiveThree {
  width: 100%;
}

.four2one,.four2Two,.myCardhead2,.five2one,.five3one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.myCard,.myCard2 {
  padding: 20px;
  border: 1px solid black;
  width: 30%;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  box-shadow: 0px 12px 27px 0px #498DAE1A;

}

.myCardhead {
  background-color: #F7B20026;
  width: 100%;
  font-weight: 600;
  font-size: small;
  text-transform: uppercase;
  padding: 5px;
}

.myCardhead p,.myCardhead2 p {
  margin: 0;
  font-size: small;
}

.myCardList {
  width: 100%;
  overflow-y: auto;
}

.myCardList ul {
  margin-top: 10px;
  font-size: 14px;
  padding-left: 1rem;
  text-transform: capitalize;
  line-height: 1.4rem;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
  background-color: white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.scrollbar {
  scrollbar-color: white white;
  scrollbar-width: thin;
}

.four2Two {
  margin-top: 20px;
}

.fiveOne,.fiveOne .sideTags {
  margin-bottom: 10px;
}

.fiveOne h3 {
  font-weight: 500;
  text-transform: capitalize;
  line-height: 2.8rem;
}

.myCard2 {
  height: 10rem;
}

.myCardContent {
  width: 100%;
  overflow-y: scroll;
}

.myCardhead2 {
  justify-content: start;
}

.myCardContent p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 14px;
}

.fiveThree {
  margin-top: 20px;
}

.five3one {
  justify-content: flex-start;
  gap: 5%;
}

.sdContent {
  font-family: Manrope;
  font-weight: 700 !important;
  line-height: 2.5rem;
  text-transform: capitalize;
}

.sixthDiv {
  background: linear-gradient(180deg, #EA8C00 0%, #F7B200 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 0;
}

.sixOne {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 5rem
}

.sixOne .sideTags {
  background-color: #FFFFFF33;
  padding: 3px 0;
  margin-bottom: 10px;
}

.sixOne .sideTags p,.sixOne p  {
  color: white;
  font-size: small;
}

.sixOne p {
  font-size: medium;
}

.sixOne .sdContent,.sixOne h4 {
  color: white;
}

.sixOne h4 {
  font-weight: 600;
}

.sixOne button {
  font-weight: 600;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
}

.sixOne button p {
  margin: 0;
}

.sixTwo {
  background-color: white;
  width: 35%;
  border-radius: 1rem;
  padding: 2rem;
  color: black;
}

.sixTwo p {
  font-size: small;
  line-height: 1.5rem;
}

.six2one,.six2two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
  gap: 1rem;
}

.cName,.cName input {
  width: 100%;
  font-size: small;
}

.six2one input,.six2two input {
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  font-size: small;
}

textarea {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  font-size: small;
}

.whatsapp {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5rem;
}

.sixTwo button {
  font-weight: 600;
  font-size: small;
  color: white;
  background-color: #F7B200;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
}

.submitDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}




/* Screens with a maximum width of 768px */
@media (max-width: 768px) {
  .firstDiv {
      height: auto;
      padding: 1rem;
  }

  .fdOne {
      padding: 0 1rem;
  }

  .fdTwo {
      justify-content: center;
  }

  .secondDiv,
  .fourthDiv,
  .fifthDiv,
  .sixthDiv {
      padding: 3rem 1rem;
  }

  .sdTwo,
  .tdTwo,
  .four2one,
  .four2Two,
  .fiveThree,
  .sixOne,
  .sixTwo {
      width: 100%;
  }

  .sideTags,
  .sideTags p {
      font-size: smaller;
  }

  .sideTags {
    width: 30%;
  }

  .sdTwo {
      margin-top: 10px;
  }

  .thirdDiv .tdOne img {
      height: 60%;
  }

  .tdTwo,
  .tdTwo p {
      font-size: small;
  }

  .listParent {
      flex-direction: column;
      gap: 1rem;
  }

  .listChildOne,
  .listChildTwo {
      width: 100%;
  }

  .four2one,
  .four2Two,
  .five2one,
  .five3one {
      flex-direction: column;
      gap: 1rem;
  }

  .myCard,
  .myCard2 {
      width: 100%;
  }

  .sixthDiv {
      flex-direction: column;
      gap: 1rem;
  }

  .sixOne,
  .sixTwo {
      width: 100%;
      padding: 2rem;
      text-align: center;
  }

  .sixOne .sideTags,
  .sixOne .sideTags p,
  .sixOne p {
      font-size: small;
  }

  .sixOne h4 {
      font-size: medium;
  }

  .sixTwo p {
      font-size: small;
  }

  .six2one,
  .six2two {
      flex-direction: column;
      gap: 1rem;
  }

  .cName,
  .cName input,
  textarea {
      width: 100%;
      font-size: small;
  }

  .whatsapp {
      gap: 0.5rem;
  }
}

/* Extra Small Devices (Phones) */
/* Screens with a maximum width of 576px */
@media only screen and (max-width: 576px) {
  .firstDiv {
      padding: 0.5rem 1rem;
      height: 35vh;
  }
  .fdOne {
      padding: 0 2rem;
  }
  .secondDiv,
  .fourthDiv,
  .fifthDiv,
  .sixthDiv {
      padding: 2rem;
  }
  .thirdDiv,
  .sixthDiv {
      flex-direction: column;
  }
  .fourthDiv {
      height: auto !important;
  }
  .sdContent,
  .fdContent,
  .tdContent,
  .myCardContent p {
      font-size: 0.9rem;
      line-height: 1rem;
  }
  .fiveOne h3 {
    line-height: 1.5rem;
  }
  .fdContent {
      font-size: medium;
  }
  .myCard,
  .myCard2 {
      width: 90%;
      height: 25vh;
  }
  .myCard2 {
      height: 15vh;
  }
  .myCardContent p {
      font-size: x-small;
  }
  .sixOne {
      width: 100%;
  }
  .tdOne {
      display: none;
      visibility: hidden;
  }
  .tdTwo {
      width: 100%;
      height: 55vh;
  }
  .sixTwo {
      width: 90%;
      height: 55vh;
      padding: 2rem;
  }
  .sideTags p {
      font-size: x-small;
      padding: 0.2rem;
      width: 100%;
  }
  .sixthDiv {
    height: auto;
    padding: 5rem 1rem;
  }
  .sixthDiv,
  .sixTwo {
    height: auto;
  }
  .tdTwo {
    width: 100%;
    height: auto !important;
    padding: 2rem;
}

.sixOne {
  width: 100%;
  padding: 0 1rem;
}
}

/* Small Devices (Tablets) */
/* Screens with a minimum width of 577px and maximum width of 768px */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  .firstDiv {
      padding: 1rem 2rem;
      height: 40vh;
  }
  .fdOne {
      padding: 0 4rem;
  }
  .secondDiv,
  .fourthDiv,
  .fifthDiv,
  .sixthDiv {
      padding: 2rem 4rem;
  }
  .secondDiv {
      height: auto !important;
  }
  .thirdDiv, .sixthDiv {
      flex-direction: column;
  }
  .sdContent,
  .fdContent,
  .tdContent,
  .myCardContent p {
      font-size: 1rem;
  }
  .myCard,
  .myCard2 {
      width: 80%;
  }
  .four2one,.four2Two,.fiveThree,.fiveTwo {
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
    gap: 1rem;
  }
  .tdTwo {
    width: 100%;
    height: auto !important;
    padding: 2rem 5rem;
  }
  .myCardContent p {
      font-size: small;
  }
  .sixOne {
      width: 100%;
  }
  .tdOne {
      display: none;
      visibility: hidden;
  }
  .sixTwo {
      width: 80%;
      padding: 2rem;
  }
  .sideTags p {
      font-size: x-small;
      padding: 0.3rem;
      width: fit-content;
  }
}

/* Screens with widths between 992px and 1600px */
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .firstDiv {
      padding: 1rem 3rem;
      height: 45vh;
  }
  .fdOne {
      padding: 0 6rem;
  }
  .secondDiv,
  .fourthDiv,
  .fifthDiv,
  .sixthDiv {
      padding: 3rem 6rem;
  }
  .sixthDiv {
      padding: 1.5rem 3rem;
  }
  .secondDiv {
      height: auto !important;
  }
  .thirdDiv,
  .sixthDiv {
      flex-direction: column;
      height: auto !important;
  }
  .tdOne,
  .tdTwo {
      width: 100%;
  }
  .tdTwo {
    padding: 2rem 5rem;
    width: 100%;
}
  .fdContent,
  .sdTwo,
  .tdTwo,
  .myCardContent p {
      font-size: 1.1rem;
  }
  .myCard,
  .myCard2 {
      width: 30%;
  }
  .myCardContent p {
      font-size: small;
  }
  .sixOne {
      width: 100%;
  }
  .sixTwo {
      width: 80%;
      margin-bottom: 8rem;
      padding: 1rem 3rem;
  }
  .sideTags p {
      font-size: small;
  }
}
/* Screens with a minimum width of 1601px */
@media only screen and (min-width: 1601px) {
  .firstDiv {
      padding: 1rem 8rem;
  }
  .fdOne {
      padding: 0 18rem;
  }
  .secondDiv,
  .fourthDiv,
  .fifthDiv,
  .sixthDiv {
      padding: 3rem 15rem;
  }
  .fdContent,
  .sdTwo,
  .tdTwo {
      font-size: 1.5rem;
  }
  .sideTags p {
    font-size: 1.5rem;
  }
  .fdContent {
    font-size: 2rem !important;
    text-align: left;
  }
  .myCard,
  .myCard2 {
      width: 30%;
  }
  .sixTwo {
      width: 50%;
      padding: 2rem 1rem;
  }
  .listChildOne li {
    font-size: large;
  }
  .listChildTwo li {
    font-size: large;
  }
  .tdTwo button {
    font-size: medium;
    padding: 0.5rem 1rem;
  }
  .myCardContent p {
    font-size: larger;
}
.myCard2 {
  height: 15rem;
}
}
