@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sideTags {
    background-color: #498DAE1A;
    width: 20%;
    padding: 0rem;
    text-align: center;
}

.sideTags p {
    color: #0F80B6;
    font-size: small;
    margin: 0;
}

.sdContent {
    font-family: 'Manrope', sans-serif;
    font-weight: 700 !important;
    text-transform: capitalize;
    color: #0F80B6;
}

.careerMain {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    padding: 5rem 10rem;
    margin-bottom: 1rem;
}

.careerMain,.careerThree {
    width: 100%;
    padding: 5rem 10rem;
    margin-bottom: 1rem;
}

.careerTwo {
    width: 100%;
    padding: 5rem 15rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.careerTwoCards {
    width: 100%;
}

.careerTwoCardsOne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    flex-wrap: wrap;
}

.myCard2 {
    width: 30%;
    height: auto;
    padding: 1rem;
    margin-top: 10px;
    box-shadow: 0px 12px 27px 0px #498DAE1A;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}

.myCardhead2 p {
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: small;
}

.myCardContent p {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: x-small;
}

.careerThreeCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.myCard {
    width: 30%;
    height: 28rem;
    border-radius: 0.5rem;
    box-shadow: -5px 12px 14px 0px #EA8C0017;
    padding-bottom: 1rem;
}

.myCardList ul{
    width: 100%;
    max-height: 18rem;
    overflow-y: auto !important;
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: white;
  }
  
  .scrollbar {
    scrollbar-color: white white;
    scrollbar-width: thin;
  }

.myCardhead {
    background-color: #EA8C00;
    color: white;
    width: 100%;
    font-weight: 600;
    font-family: Poppins;
    font-size: small;
    text-transform: uppercase;
    text-align: center;
    padding: 8px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.myCardhead p{
    margin: 0;
    font-size: 0.7rem;
}

.myCardList ul {
    margin: 5px 0px !important;
    font-size: x-small;
    padding-left: 2.5rem;
    text-transform: capitalize;
}

.cardContent {
    width: 100%;
    padding: 0 1rem;
}

.cardContent p {
    font-size: x-small;
    margin: 0;
    text-transform: capitalize;
}

.cardContentMain {
    padding-bottom: 1rem;
}


@media screen and (min-width: 1901px) {
    p {
        font-size: 1.5rem;
    }
    .myCardhead2 p,.myCardhead p {
        font-size: 1.2rem;
    }
    .myCardContent p,.cardContent p,.myCardList ul li {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1400px) {
    .careerMain {
        padding: 5rem 7%;
    }

    .careerTwo {
        padding: 5rem 10%;
    }

    .myCard2 {
        width: 30%;
    }

    .myCard {
        width: 33%;
    }
}

@media screen and (max-width: 1200px) {
    .careerMain {
        padding: 5rem 5%;
    }

    .careerTwo {
        padding: 5rem 8%;
    }

    .myCard2 {
        width: 40%;
    }

    .myCard {
        width: 40%;
    }
    .careerThreeCards {
        flex-direction: column;
    }
    .myCard {
        width: 75%;
        height: auto !important;
        margin-bottom: 1rem !important;
    }

    .cardContentMain {
        padding-bottom: 1rem;
    }

    .myCard2 {
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .careerMain {
        padding: 5rem 3%;
    }

    .careerTwo {
        padding: 5rem 5%;
    }

    .myCard2,
    .myCard {
        width: 45%;
    }

    .myCard {
        width: 100%;
        height: auto !important;
        margin-bottom: 1rem !important;
    }

    .cardContentMain {
        padding-bottom: 1rem;
    }

    .myCard2 {
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .careerMain {
        padding: 5rem 2%;
    }

    .careerTwo,.careerThree {
        padding: 5rem 3%;
    }

    .careerTwoCardsOne {
        justify-content: center;
    }

    .myCard2,
    .myCard {
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .careerMain,
    .careerTwo,.careerThree {
        padding: 5rem 5%;
    }

    .careerTwoCardsOne,.careerThreeCards  {
        flex-direction: column;
    }

    .careerThreeCards {
        gap: 2rem;
    }

    .myCard {
        height: 35vh;
    }

    .myCard2,
    .myCard {
        width: 80%;
    }
}

