.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button, .pagination-number {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  font-size: 16px;
}

.pagination-button {
  width: 40px;
  height: 40px;
  color: orange;
  background-color: #F7B20026;
  border-radius: 50%;
}

.pagination-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-number {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.pagination-number.active {
  background-color: #0F80B6;
  color: white;
}

.pagination-number:not(.active) {
  background-color: #f0f8ff;
  color: black;
}

.pagination-number:hover:not(.active) {
  background-color: #d0e8ff;
}
