/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.sideTags {
  background-color: #498DAE1A;
  width: 20%;
  padding: 0rem;
  text-align: center;
}

.sideTags p {
  color: #0F80B6;
  text-align: center;
  margin: 0;
}

.sdContent {
  font-family: 'Manrope', sans-serif;
  font-weight: 700 !important;
  text-transform: capitalize;
  color: #0F80B6;
}

.abtUsContent {
  margin-top: 20px;
  font-weight: 500;
  text-align: justify;
}

/* Main Container */
.abtOne,
.abtTwo,
.abtThree,
.abtFour {
  width: 100%;
  padding: 5rem 15rem;
  margin-bottom: 1rem;
}

/* First Section */
.abtOne {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

/* Second Section */
.abtTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.abtTwo .sideTags {
  background-color: #cfd2d21a;
}

.abtTwo p {
  text-align: center;
}

.abtTwoCards {
  width: 100%;
}

.abtTwoCardsOne {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.myCard2 {
  width: 30%;
  height: auto !important;
  padding: 1rem;
  margin-top: 10px;
  box-shadow: 0px 12px 27px 0px #498DAE1A;
  background-color: white;
  border-radius: 0.5rem;
}

.myCardhead2 p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: small;
}

.myCardContent p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: x-small;
}

/* Third Section */
.abtThree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.abtThree img {
  width: 100%;
  height: auto;
}

/* Fourth Section */
.abtFour,
.abtFourSub,
.teamMembDiv,
.imgDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 5rem;
  text-align: center;
}

// .teamMembDiv {
//   padding: 3rem 8rem;
// }

.imgDiv {
  width: 150px;
  height: 150px;
  padding: 0;
  border-radius: 50%;
}

.imgDiv img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  // border: 1px solid black;
}

.director {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.director p {
  font-weight: bold;
}

.director .cader {
  font-size: x-small;
  font-weight: normal;
}

.teamGroup {
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  justify-content: center !important;
  gap: 7rem;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
  /* First Section */
  .abtOne {
      padding: 5rem 10rem;
  }
  /* Second Section */
  .abtTwo {
      padding: 3rem 5rem;
  }
  .abtTwoCardsOne {
      gap: 1rem;
  }
  .myCard2 {
      width: 45%;
      height: auto !important;
  }
  /* Fourth Section */
  .abtFour,
  .abtFourSub,
  .teamMembDiv {
      padding: 3rem 10rem;
  }
  .teamGroup {
      gap: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  /* First Section */
  .abtOne {
      padding: 5rem 2.5rem;
  }
  .sideTags {
      width: 40%;
  }
  /* Second Section */
  .abtTwo {
      padding: 1.5rem 2rem;
  }
  .abtTwoCardsOne {
      gap: 1rem;
      flex-direction: column;
  }
  .myCard2 {
      width: 80%;
      height: auto  !important;
  }
  /* Third Section */
  .abtThree {
      padding: 3rem 5rem;
  }
  /* Fourth Section */
  .abtFour,
  .abtFourSub,
  .teamMembDiv {
      padding: 2.5rem;
  }
  .teamGroup {
      gap: 2rem;
      flex-direction: column;
  }
  .director {
      margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  /* First Section */
  .abtOne {
      padding: 5rem 5rem;
      height: auto;
  }
  .sideTags {
      width: 40%;
  }
  /* Second Section */
  .abtTwo {
      padding: 3rem 5rem;
  }
  .abtTwoCardsOne {
      gap: 1rem;
      flex-direction: column;
  }
  .myCard2 {
      width: 60%;
      height: auto !important;
  }
  /* Third Section */
  .abtThree {
      padding: 3rem 5rem;
  }
  /* Fourth Section */
  .abtFour,
  .abtFourSub,
  .teamMembDiv,
  .imgDiv {
      padding: 3rem 5rem;
  }
  .teamGroup {
      gap: 2rem;
      flex-direction: column;
  }
  .director {
      margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .abtOne {
      padding: 5rem 5rem;
      height: auto;
  }
  .sideTags {
      width: 40%;
  }
  .abtTwo {
      padding: 3rem 5rem;
  }
  .abtTwoCardsOne {
      gap: 1rem;
      flex-direction: column;
  }
  .myCard2 {
      width: 60%;
      height: auto !important;
  }
  .abtThree {
      padding: 3rem 5rem;
  }
  .abtFour,
  .abtFourSub,
  .teamMembDiv,
  .imgDiv {
      padding: 3rem 5rem;
  }
  .teamGroup {
      gap: 2rem;
      flex-direction: column;
  }
  .director {
      margin-bottom: 2rem;
  }
}

