.select_menu_main {
  padding: 100px 0px;
  text-align: center;
}
.select_menu_main .select_menu_header_main {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.01em;
  color: #171719;
  text-transform: uppercase;
  margin: 0;
}
.select_menu_main .send_request_btn_main {
  text-align: center;
  padding: 15px 50px;
  background: #131313;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-transform: uppercase;
}

.select_menu_bottom_content_main {
  margin-top: 100px;
}

.select_menu_main .select_menu_bottom_content_main p {
  font-family: "Times New Roman";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: #d60000;
  margin: 0;
}
.select_menu_main .select_menu_flex_main {
  padding: 40px 0px 20px;
}
.select_menu_flex_main .form-check {
  padding: 5px 0px 5px 40px;
}
.select_menu_flex_main .form-check-input[type="checkbox"] {
  border: 1px solid #131313;
}
.select_menu_flex_main .form-check-input:checked {
  background-color: #d60000;
  border-color: #d60000 !important;
}
.select_menu_flex_main .form-check-input:focus {
  box-shadow: none;
}
.selection_card {
  width: 288px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  transition: 0.6s all ease;
  border: 1px solid #ccbfdd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  position: relative;
  padding-inline: 16px;
  cursor: pointer;
  margin-bottom: 16px;
}
.selection_card:hover {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.233) !important;
  .tick_square_icon {
    opacity: 1 !important;
  }
  .selection_card_text {
    color: #000 !important;
  }
}

.selection_card .tick_square_icon {
  opacity: 0;
  position: absolute;
  transition: 0.2s all ease-in;
  top: 12%;
  left: 5%;
}
.selection_card.selected .selection_card_text {
  color: #000000;
}
.selection_card .selection_card_text {
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.1s all ease;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
  font-variant: all-small-caps;
  color: #ccbfdd;
  margin: 0;
  text-align: center;
  position: relative;
}
@media (min-width: 320px) and (max-width: 600px) {
  .select_menu_main {
    padding: 25px;
  }
  .select_menu_main .select_menu_header_main {
    font-size: 30px;
  }
  .select_menu_main .send_request_btn_main {
    margin-bottom: 25px;
  }
}
