* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sideTags {
    background-color: #498DAE1A;
    width: 40%;
    padding: 0rem;
    text-align: center;
}

.sideTags p {
    color: #0F80B6;
    font-size: small;
    margin: 0;
}

.sdContent {
    font-family: 'Manrope', sans-serif;
    font-weight: 700 !important;
    text-transform: capitalize;
    color: #0F80B6;
}

.srvOne {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.srvContent {
    margin-top: 20px;
    font-weight: 500;
    text-align: justify;
}

.srvOne {
    width: 100%;
    padding: 5rem 15rem;
    margin-bottom: 1rem;
}

.srvCards {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 10px;
}

.mycard {
    width: 32% !important;
}

.cardTitle {
    font-size: small;
    color: #F7B200;
}

.cardText {
    color: white;
    font-size: x-small;
}

.cardBody button {
    background-color: transparent !important;;
    color: white !important;
    border: none;
    border-radius: 0.3rem;
    font-size: x-small;
}

.readMore {
    font-size: x-small;
}





@media only screen and (min-width: 769px) and (max-width: 992px) {
    .sideTags {
        width: 30%;
    }

    .srvOne {
        padding: 5rem 10rem;
    }

    .srvCards {
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    .mycard {
        width: 45% !important;
    }

    .cardTitle {
        font-size: medium;
    }

    .cardText {
        font-size: small;
    }

    .cardBody button {
        font-size: small;
    }
}

@media only screen and (max-width: 768px) {
    .sideTags {
        width: 100%;
    }

    .srvOne {
        padding: 3rem;
    }

    .srvCards {
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }

    .mycard {
        width: 100% !important;
    }

    .cardTitle {
        font-size: small;
    }

    .cardText {
        font-size: x-small;
    }

    .cardBody button {
        font-size: x-small;
    }
}
