.my_account_page {
  background: #f5f2ed;
  padding-top: 50px;
  padding-bottom: 50px;
}
.my_account_page .my_account_header_seciton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_account_page .my_account_header_seciton .heading_text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 0;
}
.my_account_page .my_account_header_seciton .close_icon_section {
  cursor: pointer;
}

.profile_section {
  padding-top: 30px;
}
.profile_image_div {
  padding-top: 20px;
  position: relative;
  margin: auto;
  cursor: pointer;
}
.profile_section input[type="file"] {
  display: none;
}
.profile_section .custom_file_profile {
  margin: auto;
  display: flex;
}
.profile_section .profile_image_section {
  display: block;
  overflow: hidden;
  text-align: center;
  justify-content: center;
}
.profile_section .profile_image {
  width: 250px;
  height: 250px;
  border-radius: 500px;
  max-height: 100%;
  object-fit: cover;
  background-color: #c6b9d8;
}
.profile_section .icon_overlay {
  z-index: 1;
  position: absolute;
  bottom: -14px;
  left: 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  padding: 15px;
}
.profile_section .profile_image_text {
  margin-top: 40px;
  font-family: montserrat-regular;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 29px;
  color: #000000;
}
.profile_section .text {
  font-family: montserrat-regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #000000;
}

.my_account_page .card_section {
  margin-top: 50px;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px 20px 30px 20px;
}
.my_account_page .card_section .card_header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my_account_page .card_section .card_header_section .card_header_text {
  font-family: montserrat-regular;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #131313;
  margin-bottom: 0;
}
.my_account_page .errors {
  font-size: 12px;
  margin-top: 8px;
  color: #f00;
}
/* Mobile devices Starts*/
@media (min-width: 320px) and (max-width: 600px) {
  .my_account_page .card_section .card_header_section .card_header_text {
    font-family: montserrat-regular;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #131313;
    margin-bottom: 0;
  }
}
