.search_result_main .sort_by_flex {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}
.search_result_main .sort_by_flex p {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #555555;
}
.search_result_main .sort_by_flex .filter_select {
  padding: 5px 20px;
  border: 1px solid #555;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #413d3d;
}
.form_check_label {
  max-width: 220px;
  margin-top: 3px;
  @media (max-width: 1024px) {
    max-width: 100px;
  }
  @media (max-width: 320px) {
    max-width: 100px;
  }
}
.range-slider {
  // width: 400px;
  position: relative;
  margin: 15px 0 30px 0;
}

.range-fill {
  height: 6px;
  background-color: #36b37e;
  position: absolute;
  z-index: 1;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #f13a3a;
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}
