.page-policy-container {
  position: relative;
  .badge-image {
    position: absolute;
    right: 0;
    top: 120px;
    object-fit: cover;
  }
  .page-policy {
    padding-block: 64px;
  }
  .policy-heading {
    margin-bottom: 30px;
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 160%;
      color: #000000;
    }
    span {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #313132;
    }
  }
  .content-main {
    font-family: "Inter";
    font-style: normal;
    color: #000000;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 160%;
      margin-bottom: 16px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 24px;
    }
    footer p {
      padding-top: 24px;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 17px;
      letter-spacing: 0.01em;
      margin-top: 25px;
      margin-bottom: 40px;
    }
  }
}
